@charset "UTF-8";
.center {
    text-align: center;
}

#as {
    opacity: 1;
    top: 30px; 
}

#jumbotron {
    border-radius: 5px;
    background-repeat: no-repeat;
    background-color: #009bf5;
    height: 180px;
    width: 80%;
    border: 2px solid #0563ce;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 11px;
    padding-left: 30px;
    margin-top: 25px;
	background-image: url(PNG/winter.jpg);
	transition: 500ms;
}

#jumbotron:hover{
	border: 5px solid #0563ce;
}

#Github {
    background: #000;
    border: 2px solid rgb(63, 62, 62);
    color: white;
    font-size: inherit;
    border-radius: 4px;
    margin-top: 3px;
    height: 30px;
    transition: 500ms;
}

#Gitee {
    background: rgb(255, 115, 34);
    border: 2px solid rgb(255, 169, 120);
    color: white;
    font-size: inherit;
    border-radius: 4px;
    margin-top: 3px;
    height: 30px;
    transition: 500ms;
}

#Github:hover {
    border: 5px solid rgb(63, 62, 62);
}

#Gitee:hover {
    border: 5px solid rgb(255, 169, 120);
}

#page-header {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    font-weight: bold;
}

a {
    border-radius: 5px;
    background-color: #009bf5;
    border: 2px solid #0563ce9d;
}

center>* {
    text-align: left;
}
